/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.letras{
	 -fx-font-family: "Shadows Into Light";
}
.pane1{
-fx-background-image:url('view/blueforest.jpg');
-fx-background-size:cover, auto;
}